<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app">
      <ul>
        <li style="color: blue;">pdf总个数：<%=total%></li>
        <li style="color: green;">下载成功个数：<%=success%></li>
        <li style="color: red;">下载失败个数：<%=fail%></li>
      </ul>
    </div>
  </body>
</html>
